<div class="bar-container">
    <div class="bar behind-bar">
        <div class="bar-label">@Label</div>
        <div class="bar-percentage">@(Percentage)%</div>
    </div>
    <div class="bar bar-content" style="width: @(Percentage)%">
        <div class="bar-label">@Label</div>
        <div class="bar-percentage">@(Percentage)%</div>
    </div>
</div>
