<Page Label="Projects" Icon="oi oi-briefcase">
    <div class="page">
        <div class="page-content">
            <h1 id="projects-title">
                @Title
            </h1>
            <div id="projects-list">
                @foreach(var project in ProjectsList)
                {
                    <ProjectCard Title="@project.Title" Web="@project.WebUrl" Git="@project.SourceUrl">
                        <Header>
                            <img src="@project.ImageSrc" class="project-card-img" />
                        </Header>
                        <Content>
                            @project.Description
                        </Content>
                        <Reveal>
                            <ul>
                                @if (project.Tools is not null)
                                {
                                    @foreach (var tool in project.Tools)
                                    {
                                        <li>@tool</li>
                                    }
                                }
                            </ul>
                        </Reveal>
                    </ProjectCard>
                }
            </div>
        </div>
    </div>
</Page>